* {
	margin: 0;
	padding: 0;
}

img {
	width: 150px;
	height: 150px;
	display: block;
}

ul {
	width: 510px;
	height: 510px;
	border: 1px solid black;
	margin: 50px auto;
	position: relative;
}

li {
	width: 150px;
	height: 150px;
	list-style: none;
	float: left;
	margin: 10px;
}

input {
	position: absolute;
	left: -110px;
	top:10px;
	width: 100px;
	height: 30px;
}