@font-face { 
  font-family: Jewel Hill; 
  src: url('font/Jewel Hill.ttf'); 
} 
@font-face { 
  font-family: American Scribe; 
  src: url('font/American Scribe.ttf'); 
} 

body {
	overflow-x: hidden;
	background: rgb(224,228,231);
	transition: all .5s;
}

document {
	transition: all .5s;
}

window {
	transition: all .5s;
}

.header {
	background-image: url('images/intro_bkg.jpg');
	background-size: cover;
	position: relative;
}

.h-wrap {
	position: absolute;
	width: 900px;
	height: 66%;
	left: 50%;
	margin-left: -450px;
	top: 16%;
}

.h-top {
	width: 100%;
	height: 169px;
	position: relative;
}

.h-top>div {
	position: absolute;
}

.h-top-one {
	width: 128px;
	height: 100%;
	left: 0;
}

.h-top-two {
	width: 63px;
	height: 100%;
	left: 128px;
}

.h-top-three {
	width: 718px;
	height: 100%;
	right: 0;
}

.h-center {
	width: 100%;
	height: 40px;
	margin-top: 15%;
}

.h-center-img {
	width: 800px;
	height: 38px;
	margin: 0 auto;
}

.h-btn {
	width: 99px;
	height: 98px;
	margin: 30px auto;
	cursor: pointer;
	overflow: hidden;
}

.h-btn:hover .h-btn-img{
	background-position: top;
}

.h-btn-img {
	background-image: url('images/down_arrow.png');
	background-position: bottom;
	transition: all .5s ease,opacity .5s ease 2s,bottom .5s ease 2.5s;
	width: 99px;
	height: 98px;
	overflow: hidden;
	border-radius: 50%;
}

.nav {
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgb(111, 159, 217);
	box-shadow:  0 10px 10px 0 rgba(0,0,0,0.2);
	z-index: 999;
	transition: all .3s;
}

.nav-wrap {
	height: 100%;
	width: 1024px;
	margin: 0 auto;
}

.nav .nav-img {
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
}

.nav .nav-img-ico {
	width: 50px;
	height: 50px;
	background-image: url('images/logo_small.png');
	background-position: top;
	transition: opacity .3s;
	opacity: 1;
	position: absolute;
	left: 0;
	top: 0;
}
	
.nav .nav-img-up {
	width: 50px;
	height: 50px;
	background-image: url('images/logo_small.png');
	background-position: bottom;
	transition: opacity .3s;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}	

.nav .nav-img:hover .nav-img-ico {
	opacity: 0;
}

.nav .nav-img:hover .nav-img-up {
	opacity: 1;
}

.nav ul li {
	float: left;
	height: 100%;
	color: white;
	font-size: 16px;
	cursor: pointer;
	line-height: 70px;
	padding: 0 15px;
	transition: color .5s;
}

.nav ul li:hover {
	color: rgb(80,145,225);
}

.nav ul {
	width: auto;
	height: 100%;
	float: left;
}

.nav .nav-right {
	width: 162px;
	height: 100%;
	float: right;
	line-height: 70px;
	font-size: 16px;
	border-left: 1px solid rgb(80,145,205);
	border-right: 1px solid rgb(80,145,205);
	text-align: center;
	color: white;
	cursor: pointer;
	transition: background .5s;
}

.nav .nav-right:hover {
	background: rgb(80,145,205);
}

.two {
	height: 250px;
	width: 100%;
}

.two h1 {
	font-family: 'Jewel Hill';
	font-size: 105px;
	text-align: center;
	text-transform: Uppercase;
	font-weight: 500;
	height: 160px;
}

.two h2 {
	font-family: 'American Scribe';
	font-size: 40px;
	text-align: center;
	font-weight: 500;
	height: 60px;
}

.three {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.three .three-img {
	width: 500%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
	transition: left .6s;
}

.three .three-img li{
	float: left;
	/* width: 100%; */
	height: 100%;
}

.three .three-img li img{
	width: 100%;
	height: 100%;
}

.three button {
	position: absolute;
	width: 99px;
	height: 99px;
	top: 50%;
	margin-top: -50px;
	background-color: transparent;
	border: none;
	outline: none;
	transition: all .5s;
	border-radius: 50%;
}

.three .prev {
	left: 35px;
	background-image: url('images/down_arrow.png');
	transform: rotate(90deg);
	background-position: bottom;
}

.three .next {
	right: 35px;
	background-image: url('images/down_arrow.png');
	transform: rotate(-90deg);
	background-position: bottom;
}

.three .prev:hover {
	background-position: top;
	left: 30px;
}

.three .next:hover {
	background-position: top;
	right: 30px;
}

.three .choose {
	position: absolute;
	left: 50%;
	bottom: 15px;
	width: 180px;
	height: 45px;
	margin-left: -90px; 
}

.three .choose li {
	float: left;
	width: 20px;
	height: 20px;
	/* border: 1px solid black; */
	border-radius: 50%;
	background: gray;
	background-clip: clip;
	box-shadow: 0 0 0 5px rgba(0,0,0,0.3);
	margin: 5px 12px;
	cursor: pointer;
}

.three .choose .add {
	background: lightblue;
}

.four {
	width: 100%;
	height: 600px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.four ul {
	width: 5000px;
	height: 100%;
	position: relative;
	left: 0;
}

.four ul li {
	float: left;
}

.four ul li img{
	float: left;
}

.five {
	background: url('images/gray_bkg.jpg') repeat;
	padding: 20px 0;
}

.five h1 {
	font-family: 'Jewel Hill';
    font-size: 105px;
    line-height: 150px;
    text-align: center;
    text-transform: Uppercase;
    font-weight: 500;
}

.five h2 {
	font-family: 'American Scribe';
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}

.five ul {
	width: 1300px;
	height: 400px;
	margin: 30px auto;
	position: relative;
	overflow: hidden;
}

.five ul li {
	float: left;
	position: relative;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	cursor: pointer;
	transition: all .2s;
}

.five ul li:nth-child(1) {
	width: 275px;
}

.five ul li:nth-child(1):hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	width: 526px;
}


.five ul li:nth-child(2):hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	width: 526px;
}

.five ul li:nth-child(3):hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	width: 526px;
	z-index: 99;
}


.five ul li:nth-child(4):hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	width: 526px;
}


.five ul li:nth-child(2) {
	width: 325px;
}

.five ul li:nth-child(3) {
	width: 325px;
}

.five ul li:nth-child(4) {
	width: 375px;
	position: absolute;
	right: 0;
}

.five ul .number {
	position: absolute;
	top: 50%;
	left: 42%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: -100px;
}
